name: Rust Build & Release

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build & Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: immich_ml.exe
            asset_name: immich_ml-windows-amd64.zip
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: immich_ml
            asset_name: immich_ml-linux-amd64.tar.gz

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.target }}

    - name: Swatinem/rust-cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --release --verbose --target ${{ matrix.target }}

    - name: Run tests
      run: cargo test --verbose --target ${{ matrix.target }}

    - name: Package (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        cd target/${{ matrix.target }}/release
        7z a ../../../${{ matrix.asset_name }} ${{ matrix.artifact_name }}

    - name: Package (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        cd target/${{ matrix.target }}/release
        tar -czvf ../../../${{ matrix.asset_name }} ${{ matrix.artifact_name }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset_name }}
        path: ${{ matrix.asset_name }}

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ${{ matrix.asset_name }}
