name: Rust Build

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Swatinem/rust-cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --release --verbose

    - name: Run tests
      run: cargo test --release --verbose

    - name: Package
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        Compress-Archive -Path target/release/immich_ml.exe -DestinationPath immich_ml-windows-amd64.zip

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: immich_ml-windows-amd64.zip

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Swatinem/rust-cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --release --verbose

    - name: Run tests
      run: cargo test --release --verbose

    - name: Package
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        tar -czf immich_ml-linux-amd64.tar.gz -C target/release immich_ml

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: immich_ml-linux-amd64.tar.gz
